/* global css variable */
$color-primary: #00796b; // 项目主题色
$color-background: #fff; // 页面背景色
$color-text: #1e1e1e; // 页面通用字体色
$color-text-secondary: #757575; // 辅助文字颜色
$color-border: #ebedf1; // 边框颜色
